body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#scanner-container {
    width: 100%;
    max-width: 300px;
    border: 2px solid #333;
    overflow: hidden;
    margin-bottom: 20px;
}

#scanner-video {
    width: 100%;
    height: auto;
}

#result {
    font-weight: bold;
    color: #333;
}

#openLinkButton {
    display: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#openLinkButton:hover {
    background-color: #0056b3;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 768px)
{
    #scanner-video {
        width: 100%;
        height: auto;
        transform: scaleX(-1); /* Invert the video horizontally */
    }
    
}